/* You can add global styles to this file, and also import other style files */

@import './styles/library-customized/app_angular_materials';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(245, 245, 245);
}

body,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0 !important;
}

// COMMON COLOR
.white-bg {
    background-color: white;
}